*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* fonts */
  --F-Khand: "Khand", sans-serif;

  /* colors */
  --white: #ffffff;
  --black: #000000;
  --red: #e31319;
  --primary: #0E5B4B;
  --secondary: #478D7F;
  --green: #30796A;
  --yellow: #FFCB00;

  /* sizes */
  --120 : 120px;
  --56 : 56px;
  --48 : 48px;
  --40 : 40px;
  --32 : 32px;
  --24 : 24px;
  --20 : 20px;
  --18 : 18px;
  --16 : 16px;
  --14 : 14px;
  --12 : 12px;
  --10 : 10px;

  /* spacing */
  --64: 64px;
  --56: 56px;
  --32: 32px;
}

html {
  font-size: 100.01%;
  scroll-behavior: smooth;
  overflow-x: clip;
  margin: 0;
}

body {
  text-rendering: optimizeLegibility;
  background-color: var(--primary);
  font-family: var(--F-Khand);
  font-size: var(--24);
  color: var(--white);
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

* {
  outline: none !important;
}

.container {
  padding-right: 12px;
  padding-left: 12px;
  max-width: 1394px;
  width: 100%;
}
.container-sm {
  max-width: 684px;
}
.container-md {
  max-width: 958px;
}

.conatiner-fluid {
  padding-left: 24px;
  padding-right: 24px;
}

:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
a,
.btn,
button,
input,
.nav-link:after,
.nav-link img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

p a {
  color: inherit;
  text-decoration: underline !important;
}
p {
  margin: 0 0 40px;
}
p:last-child,
h6:last-child {
  margin-bottom: 0 !important;
}
p strong {
  font-weight: 700 !important;
}

small {
  font-size: 12px;
  font-weight: 700;
}

strong {
  font-weight: 900;
}
sub,
sup {
  font-size: 65%;
}
ul:last-child {
  margin-bottom: 0;
}

ul {
  padding-left: 20px;
  list-style-type: square;
}

.text-red {
  color: var(--red) !important;
}

.text-dark {
  color: var(--primary) !important;
}

/* typo Headings */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--F-Khand);
  margin: 0;
}

h1,
.h1 {
  font-weight: 600;
  line-height: 0.88;
  font-size: var(--120);
}

h2,
.h2 {
  line-height: 1;
  font-weight: 700;
  font-size: var(--56);
}

h3,
.h3 {
  font-size: var(--40);
  letter-spacing: 0.03em;
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  font-weight: bold;
  line-height: 1;
  font-size: var(--32);
}

h5 {
  font-size: var(--24);
  line-height: 1;
}

h6 {
  font-size: var(--20);
  line-height: 1;
}

.text-xl{
  font-size: var(--48);
}

.text-l{
  font-size: var(--24);
}

.text-m{
  font-size: var(--14);
}

.text-s{
  font-size: var(--12);
}

.text-xs{
  font-size: var(--10);
}

.ls{
  letter-spacing: -0.01em;
}

.btn {
  line-height: 1;
  font-weight: 600;
  padding: 17px 24px;
  border-radius: 50px;
  color: var(--primary);
  text-transform: uppercase;
  -webkit-transition: all 0.35s linear;
  -o-transition: all 0.35s linear;
  transition: all 0.35s linear;
  background-color: var(--yellow);
  font-family: var(--F-Khand);
  font-size: var(--16);
  gap: 8px;
}

.btn-sm{
  padding: 13px 24px 9px;
}

.btn img{
  -webkit-transition: all 0.35s linear;
  -o-transition: all 0.35s linear;
  transition: all 0.35s linear;
}

.btn span{
  margin-bottom: -3px;
  white-space: nowrap;
}

.btn:hover {
  background-color: var(--primary) !important;
  color: var(--white) !important;
  cursor: pointer;
}

.btn:hover img{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

[disabled] {
  color: #f8f3f1;
  border-color: #bdbdbd;
  background-color: #bdbdbd;
}

[disabled]:hover {
  cursor: not-allowed;
}

.section-top{
  position: relative;
  padding-top: 260px;
  z-index: 1;
}

.section-top > img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.hero{
  padding-bottom: 60px;
  /* background: var(--primary) url('../images/background-01.png') no-repeat center top / cover; */
}

.hero .btn{
  margin-bottom: 70px;
}

.hero .text-l{
  margin-bottom: 48px;
}

.hero h1{
  color: var(--primary);
  font-weight: 700;
}

.hero-shape{
  max-width: 100%;
  margin: 28px auto 45px;
}

.hero-t-member{
  position: absolute;
  top: -113px;
  right: 0;
}

.proc-preview{
  padding-bottom: 75px;
  padding-top: 150px;
  min-height: 700px;
}

.proc-text{
  text-align: center;
}

.proc-text h2{
  opacity: 0.5;
  margin-bottom: 0.5em;
  color: var(--yellow);
}

.proc-text p{
  max-width: 600px;
  margin: auto;
  width: 100%;
}

.proc-video{
  max-width: 820px;
  margin: auto;
  width: 80%;
}

.proc-video-poster{
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

.proc-video-poster > img{
  width: 100%;
  display: block;
}

.proc-video-poster a{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.proc-video h2{
  opacity: 0.5;
  margin-left: -40px;
  color: var(--yellow);
  margin-bottom: -0.21em;
}

.logotyp{
  min-height: 1024px;
  padding-top: 200px;
}

.logotyp h2{
  color: var(--yellow);
  margin: 0;
}

.logotyp-tabs{
  gap: 2px;
  padding: 2px;
  margin-top: -65px;
  border-radius: 50px;
  background-color: var(--primary);
}

.logotyp-tabs a{
  font-weight: 400;
  border-radius: 50px;
  color: var(--yellow);
  padding: 10px 24px 6px;
}

.logotyp-tabs .active{
  background-color: var(--yellow);
  color: var(--primary);
}

.logotyp-brand{
  margin: 28px auto 80px;
  position: relative;
  max-width: 685px;
  width: 100%;
  z-index: 1;
}

.logotyp-brand > img{
  max-width: 260px;
  display: block;
  margin: auto;
  width: 100%;
}

.logotyp-brand-image{
  position: absolute;
  overflow: hidden;
  height: 155px;
  bottom: 60px;
  width: 100%;
  z-index: -1;
  left: 0;
}

.logotyp-brand-image img{
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.logotyp-brand-image  p{
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--primary);
  position: absolute;
  right: 35px;
  top: 50%;
}

.logotyp-content .col-auto{
  max-width: 340px;
  width: 100%;
}

.logotyp-content p{
  font-weight: 400;
}

.logotyp-brand-zoom{
  position: absolute;
  left: 353px;
  top: -55px;
  gap: 12px;
  right: 0;
}

.logotyp-brand-zoom img{
  width: 220px;
}

.logotyp-brand-zoom p{
  color: var(--primary);
  max-width: 330px;
  min-width: 330px;
}

.section-alternative{
  background-color: var(--white);
  padding-bottom: 120px;
  color: var(--primary);
  padding-top: 48px;
}

.section-alternative h2{
  margin-bottom: 0.5em;
}

.alternative-logos{
  padding-top: 120px;
  padding-bottom: 120px;
}

.typografie{
  margin-top: 170px;
}

.typografie-content h2{
  margin-bottom: 0.2em;
}

.typografie-content p{
  margin-bottom: 32px;
  max-width: 340px;
  width: 100%;
}

.typografie-vv h3{
  font-size: 135px;
  font-weight: 700;
  line-height: 0.9;
}

.typografie-vv h3:last-child{
  color: var(--white);
  text-shadow: 2px 0 var(--primary), -2px 0 var(--primary), 0 2px var(--primary), 0 -2px var(--primary),
               1px 1px var(--primary), -1px -1px var(--primary), 1px -1px var(--primary), -1px 1px var(--primary);
}

.section-historie{
  background-color: var(--white);
  padding-top: 120px;
}

.section-historie h2{
  margin-bottom: 0.8em;
  color: var(--primary);
}

.historie-logo{
  gap: 16px;
  display: flex;
  font-weight: 400;
  text-align: center;
  align-items: center;
  color: var(--primary);
  flex-direction: column;
  justify-content: center;
}

.historie-logo .text-l{
  line-height: 1;
}

.swiper{
  overflow: visible;
}

.swiper-historie .swiper-slide{
  width: 360px;
}

.section-historie > img{
  margin-top: -9.6%;
}

.section-dressing{
  /* background-color: var(--primary); */
  padding-top: 75px;
  margin-top: -55.5%;
}

.dress{
  width: 100vw;
  min-width: 100vw;
}

.dress-name{
  padding: 10% 10% 0 !important;
  color: var(--yellow) !important;
  margin-bottom: 0px !important;
}

.section-video{
  background-color: var(--primary);
  padding-bottom: 160px;
}

.video-preview{
  position: relative;
}

.video-preview .btn{
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section-video{
  margin-top: -5.5%;
}

.section-bottom{
  background-color: var(--white);
}

.section-bottom-area{
  padding-top: 120px;
}

.section-heading{
  margin-bottom: 16px;
}

.section-heading h2{
  color: var(--primary);
  margin-bottom: 0;
}

.swiper-btns{
  gap: 4px;
}

.swiper-btns button{
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  border-radius: 40px;
  background-color: var(--yellow);
}

.swiper-btns button img{
  width: 24px;
  height: 24px;
  margin: auto;
}

.swiper-legendy-left{
  transform: scale(-1);
}

.swiper-cards .swiper-slide{
  width: 685px;
}

.swiper-card{
  gap: 18px;
  display: flex;
  flex-direction: column;
}

.swiper-card-image{
  width: 100%;
  position: relative;
  aspect-ratio: 16/11.8;
}

.swiper-card-image:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.swiper-card-image > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-card-image .btn{
  top: 50%;
  left: 50%;
  z-index: 1;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.swiper-card-content{
  padding: 0 24px;
}

.swiper-card-content h3{
  color: var(--primary);
  margin-bottom: 4px;
}

.swiper-card-content p{
  color: #478D8F;
}

.swiper-button-disabled{
  opacity: 0.5;
}

.faqs-area{
  max-width: 680px;
  margin: auto;
  width: 100%;
}

.accordion, .accordion-item{
  border: none !important;
}

.accordion-item{
  margin-top: 30px;
}

.accordion-button:after{
  display: none;
}

.accordion-button img{
  transition: all 0.3s ease-in-out;
}

.accordion-button{
  gap: 8px;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  box-shadow: none !important;
  color: var(--primary) !important;
  background-color: transparent !important;
}

.accordion-button:not(.collapsed) img{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-body{
  padding: 16px 0 0 36px;
  color: var(--primary);
}

.accordion-button span:first-child{
  width: 27px;
  min-width: 27px;
}

.footer{
  z-index: 1;
  overflow: hidden;
  padding-top: 150px;
  position: relative;
  padding-bottom: 200px;
  background: var(--white) url('../images/footer-bg.png') no-repeat center top / cover;
}

.horal-cely{
  position: absolute;
  bottom: -86px;
  right: -130px;
  opacity: 0.5;
  z-index: -1;
}

.footer-logo{
  margin-bottom: 24px;
}

.footer-logo img{
  width: 170px;
  height: 136px;
}

.footer-social{
  gap: 16px;
  display: flex;
  margin-bottom: 32px;
  align-items: center;
}

.footer-social img{
  display: block;
}

.footer-address{
  gap: 24px;
}

.footer-address a{
  gap: 16px;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.footer-links{
  gap: 64px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.footer-links a{
  color: var(--yellow);
}

.footer-links a:hover{
  text-decoration: underline;
}

.copyright{
  margin-top: 80px;
}

.navbar-brand img{
  width: 62px;
}

.navbar{
  position: absolute;
  width: 100%;
  z-index: 99;
  left: 0;
  top: 0;
}

.navbar .container{
  padding-left: 32px;
  padding-right: 32px;
}

.navbar-nav{
  gap: 48px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-nav a{
  padding-bottom: 0;
  color: var(--primary);
}

.navbar-nav a:hover{
  color: var(--yellow); 
}

.navbar-toggler img{
  width: 32px;
  height: 32px;
  margin-left: 8px;
}

.navbar-toggler{
  font-size: 18px;
  font-weight: 600;
  color: var(--primary);
}


/* animation */
.proc-preview {
  position: relative;
  overflow: hidden;
}

.proc-horizontal {
  display: flex;
}

.proc-horizontal > div {
  min-width: 100%;
}

.section-overlay-image{
  background-color: var(--primary);
}